/storage/app/public/sites/*
!/storage/app/public/sites/.gitkeep
/public/book/content/*
!/public/book/content/.gitkeep
/public/book/export/*
!/public/book/export/.gitkeep
/config/google/* 
!/config/google/.gitkeep
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
