:root {
    --ccuffs-primary: #012970;
    --ccuffs-secondary: #4154f1;
    --ccuffs-tertiary: #08da4e;
    --ccuffs-quaternary: #444;
    --ccuffs-quintenary: #ffc107;
    --ccuffs-bg: #f6f9ff;
    --ccuffs-bg-light: #fff;
    --ccuffs-bg-strong: #fff;
    --ccuffs-bg-ui: #fff;
    --ccuffs-line: #717081;
    --ccuffs-line-ui: #30363D;

}

/** Background */

.bg-ccuffs {
    background-color: var(--ccuffs-bg);
}

.bg-ccuffs-light {
    background-color: var(--ccuffs-bg-light);
}

.bg-ccuffs-strong {
    background-color: var(--ccuffs-bg-strong);
}

.bg-ccuffs-primary {
    background-color: var(--ccuffs-primary);
}

.bg-ccuffs-secondary {
    background-color: var(--ccuffs-secondary);
}

.bg-ccuffs-tertiary {
    background-color: var(--ccuffs-tertiary);
}

.bg-ccuffs-ui {
    background-color: var(--ccuffs-bg-ui);
}

/** Text */

.text-ccuffs-primary {
    color: var(--ccuffs-primary);
}

.text-ccuffs-secondary {
    color: var(--ccuffs-secondary);    
}

.text-ccuffs-tertiary {
    color: var(--ccuffs-tertiary);
}

.text-ccuffs-quaternary {
    color: var(--ccuffs-quaternary);
}

/** Border */

.border-ccuffs-primary {
    border-color: var(--ccuffs-primary);
}

.border-ccuffs-secondary {
    border-color: var(--ccuffs-secondary);    
}

.border-ccuffs-tertiary {
    border-color: var(--ccuffs-tertiary);
}

.border-ccuffs-ui {
    border-color: var(--ccuffs-line-ui);
}

.border-ccuffs-boxshadow{
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}